.homeSlider img {
  border-radius: 15px !important;
}
.singleVehicle {
  border: 2px solid #f3f3f3;
  padding: 0px;
  border-radius: 10px;
}
.singleVehicle .singleVehicleImage {
  height: 120px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.singleVehicle img {
  border-radius: 10px;
}
.singleVehicle .singleVehicleInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 20px;
}
.singleVehicle .singleVehicleInfoLeft {

}
.singleVehicle .singleVehicleInfoLeft h4 {
  margin-bottom: 0;
}
.singleVehicle .singleVehicleInfoLeft h6 {
  font-weight: 300 !important;
  font-size: 10px;
}
.singleVehicle .singleVehicleInfoRight {
  display: flex;
  flex-direction: column;
}
.singleVehicle .singleVehicleInfoRight h4 {
  margin-bottom: 0;
}
.singleVehicle .singleVehicleInfoRight small {
  font-size: 10px;
}